/* src/index.css */
body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
}

/* src/App.css */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
.reference-frame {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.top-cover {
  padding: 0 20px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 200px;
  background: #fff;
  border-bottom: 1px solid #555;
}
.top-content {
  width: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
h2 {
  margin: 0;
}
.score--good {
  color: #0f0;
}
.score--bad {
  color: #f00;
}
.top-cover--revealed {
  background-color: rgba(255, 255, 255, 0.3);
}
.bottom-cover {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  background: #fff;
  border-top: 1px solid #555;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.controls {
  display: flex;
  justify-content: space-between;
}
button {
  margin: 30px;
  padding: 20px;
  border: 1px solid #555;
  border-radius: 7px;
  font-size: 200%;
  cursor: pointer;
}
.hint {
  font-size: 50%;
}
.reveal {
  background-color: #fff;
}
.reveal:hover {
  background: #ddd;
}
.yes {
  background-color: #cfc;
}
.no {
  background-color: #fdd;
}
